name: Bun test

on:
  push:
  pull_request:

jobs:
  test:
    # Don't trigger the action on PRs from the same repo unless it's from dependabot.
    # This prevents the same action from triggering twice, by push and pull_request events.
    # https://github.com/orgs/community/discussions/26940#discussioncomment-6656489
    if: (github.event_name != 'pull_request' && ! github.event.pull_request.head.repo.fork) || (github.event_name == 'pull_request' && (github.event.pull_request.head.repo.fork || github.actor == 'dependabot[bot]'))
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Run tests
        run: bun test
